.breadcrumbs {
    border-bottom: 1px solid rgb(239 239 239);;
}

.breadcrumbs__container {
    max-width: 1260px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    align-items: center;
    
}

.breadcrumbs__container > a {
    text-decoration: none;
    color: rgb(160, 160, 160);
    display: block;
    margin-left: 10px;
    font-weight: 100;
    font-size: 0.8rem;
}

.breadcrumbs__container > a > span {
    margin-left: 5px;
}

.shop__container {
    margin: 0 auto;
    max-width: 1260px;
    margin-top: 3rem;
    display: flex;
}

.shop__container.sort {
    max-width: 870px;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row-reverse;  
    align-items: center;
}
.shop__container.sort > select {
    margin-left: 1rem;
    padding: 0.35rem 0.5rem;
    background: none;
    border: 1px solid #ccc;
    border-radius: 3px;
   
    font-family: avenir next avenir next cyr;
    font-size: 1rem;
    color: #ccc;
}
.shop__container.sort > select:focus{
    outline: none;
    color: rgb(29, 29, 29);
}